<h2>Administrative Panel</h4>
<hr>
<div class="card">
    <div class="card-body">
        <un>
            Here, you can:
            <li>See, edit and delete categories</li>
            <li>See, edit and delete posts</li>
        </un> <hr>
        <a href="/admin/categories"><button class="btn btn-outline-primary">Manage categories</button></a>
        <a href="/admin/posts"><button class="btn btn-outline-primary">Manage posts</button></a>
    </div>
</div>
<a href="/home"><button class="btn btn-secondary mt-4">Back</button></a>