<h2 style="margin-bottom: 0;">Are you sure you want to delete <u>ALL</u> categories?</h2>
<h5 style="color: rgb(70, 66, 66);">This action will also delete all posts and commentaries.</h5>
<form action="/admin/categories/deleteAll" method="POST">
    <button type="submit" class="btn btn-outline-danger mt-4">Delete all categories</button>
</form>
<a href="/admin/categories"><button class="btn btn-secondary mt-2">Back</button></a>