<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">Nathan's Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      {{#if admin}}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Administrative Panel</a>
        </li>
      {{else}}
      {{/if}}
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/users/profile/{{username}}">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Log out</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/signup">Sign in</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>