<h2>Delete answer</h2>
<div class="card">
    <div class="card-body">
        <p>Are you sure you want to delete this answer?</p>
        <p>{{answer.commentary}}</p>
        <small style="color: gray;">This action is irreversible.</small>
        <form action="/answer/delete" method="POST">
            <input type="hidden" name="id" value="{{answer._id}}">
            <button type="submit" class="btn btn-outline-danger">Delete answer</button>
        </form>
    </div>
</div>
<a href="/read/{{answer.post}}"><button class="btn btn-secondary mt-4">Back</button></a>